@media only screen and (min-width: 320px){
    @font-face {
        font-family: 'robotothin';
        src: url('police/Roboto-Thin-webfont.eot');
        src: url('police/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
             url('police/Roboto-Thin-webfont.woff') format('woff'),
             url('police/Roboto-Thin-webfont.ttf') format('truetype'),
             url('police/Roboto-Thin-webfont.svg#robotothin') format('svg');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'robotoregular';
        src: url('police/Roboto-Regular-webfont.eot');
        src: url('police/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('police/Roboto-Regular-webfont.woff') format('woff'),
             url('police/Roboto-Regular-webfont.ttf') format('truetype'),
             url('police/Roboto-Regular-webfont.svg#robotoregular') format('svg');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'shrikhandregular';
        src: url('police/shrikhand-regular-webfont.eot');
        src: url('police/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('police/shrikhand-regular-webfont.woff2') format('woff2'),
             url('police/shrikhand-regular-webfont.woff') format('woff'),
             url('police/shrikhand-regular-webfont.ttf') format('truetype'),
             url('police/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
        font-weight: normal;
        font-style: normal;
    
    }
    #bloc_page{
        width: auto;
        font-family: "robotothin", Arial, Helvetica, sans-serif;
    }
    a{
        text-decoration: none;
    }
    .logo{
        text-align: center;
    }
    .logo img{
        width: 40%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    section img{
        width: 100%;
    }
    .localisation{
        background-color: #dcdcdc;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .localisation i{
        padding-top: 5%;
    }
    .localisation h3{
        color: #303030;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    .info{
        background-color: #efefef;
        padding-top: 1%;
        text-align: center;
    }
    .info h2{
        font-size: 2em;
        margin: 10%;
        margin-bottom: 0%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    .info p{
        font-size: 1.25em;
        margin-top: 2%;
    }
    .info input{
        margin-bottom: 15%;
        margin-top: 4%;
        padding: 4.5%;
        font-size: 1.20em;
        color: white;
        background: linear-gradient(#FF79DA,#9356DC); 
        border-radius: 30px;
        border: none;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    section h2{
        margin-left: 5%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    ol {counter-reset: choix;
        padding-left: 10%;
        width: 80%;
        margin-bottom: 15%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    li {
	list-style-type: none;
	counter-increment: choix;
    margin-left: -9%;
    }
    li:before {
	content: counter(choix);
	background: #9356DC;
	border-radius: 50%;
	color: white;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-right: 2%;
    font-size: 0.95em;
    margin-left: -2%;
    }
    .choix__enfant{
        background-color: #efefef;
        padding: 7%;
        border-radius: 20px;
        margin-bottom: 6%;
    }
    .choix__enfant i{
        margin-left: 5%;
        margin-right: 5%;
        color: #dcdcdc;
    }
    .choix__enfant i:hover{
        color: #9356DC;
    }
    .choix__texte{
        color: black;
        font-weight: bold;
    }
    .main{
        background-color: #efefef;
        padding-bottom: 15%;
    }
    .main h2{
        padding-top: 15%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    .main article{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .contenant{
        position: relative;
    }
    .nouveau{
        position: absolute;
        top: 7%;
        background-color: #99E2D0;
        padding: 2%;
        left: 74%;
        color: darkgreen;
        padding-right: 3%;
        padding-left: 3%;
        border-radius: 2px;
    }
    section img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .description{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-top: -1%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    section p{
        font-size: 1.20em;
        margin-left: 5%;
    }
    .nom{
        font-weight: bold;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    .heart{
        margin-right: 8%;
        margin-top: 8%;
        font-size: 1.7em;
        color: gray;
    }
    footer{
        background-color: #303030;
        padding-bottom: 7%;
        font-family: "robotoregular", Arial, Helvetica, sans-serif;
    }
    footer p{
        color: white;
        margin: auto;
        padding-bottom: 1%;
        margin-left: 7%;
    }
    footer h3{
        font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
        color: white;
        padding-top: 7%;
        padding-left: 7%;
        margin: auto;
        padding-bottom: 5%;
    }
}